<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- eric meyer reset -->
    <link rel="stylesheet" href="/public/reset.css">
    <!-- monoton font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <!-- main stylesheet -->
    <link rel="stylesheet" href="/public/style.css">
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">

    <title>finme</title>
</head>
<header>
    <img src="/public/logocropped.png">
    <h1>julian's investments</h1>
</header>
<body>
    <ul class="stocks">
        <!-- Loop through quotes -->
        <% for(var i = 0; i < stocks.length; i++) {%>
          <li class="stock">
            <span class="tickerS"><%= stocks[i].ticker %></span>
            <span class="dollarS">$<%= Math.floor(stocks[i].investment * stocks[i].price * 100) / 100%></span>
            <span class="thesiS"><%= stocks[i].thesis %></span>
          </li>
        <% } %>
      </ul>

    <form action="/stocks" method="POST">
        <input type="text" placeholder="TICKER" name="ticker">
        <input type="text" placeholder="Quantity" name="investment">
        <textarea name="thesis" placeholder="Thesis / Why this investment?" class="thesisInput"></textarea>
        <button type="submit" id="submitButton">Submit</button>
        </form>
        <script src="/public/main.js"></script>
</body>
</html>